*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #dadada;
}

nav {
  display: none;
  background-color: #dadada;
  position: fixed;
  width: 100%;
}

nav ul, footer ul {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin-right: 20px;
  width: 60%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

nav img {
  width: 30%;
  float: left;
}

nav ul li:hover {
  background-color: green;
  display: inline-block;
  float: right;
  text-decoration: none;
}

nav ul li a, footer ul li a {
  color: #777777;
  text-decoration: none;
  float: right;
  padding: 20px;
}

.hero {
  background-image: url('https://static.pexels.com/photos/349447/pexels-photo-349447.jpeg');
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 96%;
}

.hero .container {
  align-items: center;
  height: 60vh;
  padding-top: 40px;
}

.alignhero {
  align-self: center;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.hero h1 {
  font-size: 2em;
}

.project, .case {
  width: 100%;
  margin: 40px auto 0 auto;
  padding: 30px;
  flex-grow: 1;
  background-color: #ffffff;
}

.case {
  background-color: #dadada;
}

.project h1 {
  font-size: 1.5em;
}

footer {
  width: 100%;
  background-color: #333333;
  height: 200px;
  margin-top: 100px;
}


@media (min-width: 768px) {
  .container {
    width: 70%;
  }

  .hero .container {
    height: 80vh;
  }

  .hero h1 {
    font-size: 3em;
  }

  .project h1 {
    font-size: 2em;
  }

  nav {
    display: block;
  }
}
